<div class="m-3">

    <div class="title border-bottom">
        <h1>{{ festival.name }}</h1>
    </div>

    <!--    <app-form></app-form>-->
    <!-- not a separate form but in a dropdown when you click the row displaying guest name and checkin time -->

    <form
            [formGroup]="guestForms[i]"
            (ngSubmit)="onCheckIn(i)"
            *ngFor="let guest of guests; let i = index"
    >
        <div class="form-field">
            <label for="name">guest name:</label>
            <input type="text" name="name" id="name" formControlName="name">
        </div>
        <div class="form-field">
            <label for="check-in-time">check-in time:</label>
            <input type="text" name="check-in-time" id="check-in-time" formControlName="arrivalTime">
        </div>
        <div class="form-field">
            <label for="description">description:</label>
            <input type="text" name="description" id="description" formControlName="description">
        </div>
        <div class="form-field">
            <label for="notes">notes:</label>
            <input type="text" name="notes" id="notes" formControlName="arrivalNotes">
        </div>
        <div class="buttonContainer">
            <button type="submit">Check 'em in!</button>
        </div>
    </form>


</div>
