<ng-template appPlaceholder></ng-template>
<div class="row d-flex justify-content-center m-3">
  <div class="col-xs-12 col-md-6">

    <!--    <div class="alert alert-danger" *ngIf="error">-->
    <!--      <p>{{ error }}</p>-->
    <!--    </div>-->

    <!--    <app-alert [message]="error" *ngIf="error" (close)="onClose()"></app-alert>-->

    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control">
      </div>
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="mobile">Mobile</label>
        <input type="tel" id="mobile" class="form-control">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          name="email"
          ngModel
          required
          email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               class="form-control"
               name="password"
               ngModel
               required
               minlength="8">
      </div>
      <div *ngIf="!isLoginMode" class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" class="form-control">
      </div>

      <div class="signup-buttons mt-4">
        <button
          class="btn btn-primary mr-3"
          type="submit"
          [disabled]="!authForm.valid"
        >{{ isLoginMode ? 'Log in' : 'Sign up' }}
        </button>
        <button
          class="btn btn-primary ml-3"
          type="button"
          (click)="onSwitchMode()">
          {{ isLoginMode ? 'Click to sign up' : 'Click to log in' }}
        </button>
      </div>
    </form>
  </div>
</div>
