.form-field {
  margin: 0 0 10px 10px;

  label {
    margin-right: 3px;
  }
}

input {
  float: right;
  margin-right: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: left;

  button {
    cursor: pointer;
    background-color: #161855;
    color: #ecc13f;
    padding: 5px 20px 5px 20px;
    border: solid 1px #ff4e2a;
    border-radius: 5px;
    margin-left: 10px;
}

}
