.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(22, 24, 85,.9);
}

.message {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  padding: 20px;
  background-color: #ecc13f;
  opacity: 100%;
}

button {
  float: right;
}
