.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #161855;
  opacity: 90%;
}

.message {
  position: fixed;
  top: 20vh;
  left: 20vw;
  width: 60vw;
  background-color: #ecc13f;
  padding: 20px;
}

button {
  float: right;
}
